.message-user-avatar {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  border-radius: 50%;
}

.message {
  display: flex;
  margin: 5px;
}

.massage-info-wrapper {
  background-color:#e0b57d;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 0px #41445c;
}

.message-user-name {
  font-style: italic;
  font-size: 14px;
}

.message-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.message-like {
  width: 60px;
  margin: 0 30px 0 0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  border: 1px solid rgba(34, 60, 80, 0.6);
}

.message-divider-wrapper {
display: flex;
flex-direction: column;
}

.message-liked .like-icon {
  color: red;
}

.own-message {
  align-self: flex-end;
}

.message-main {
  display: flex;
  flex-direction: column;
}

.message-time {
    font-style: italic;
    font-size: 14px;
    align-self: flex-end;
  }
  
  .message-time {
    font-style: italic;
    font-size: 14px;
  }
  
  .message-text {
    margin: 5px 0;
  }

  .replies-wrapper {
    display: flex;
    flex-direction: column;
  }

  .reply-button {
    margin-left: 10px;
    border-radius: 20px;
    padding: 15px;
  }
