.modal-wrapper {
  height: 200px;
  width: 400px;
  background-color:#e0b57d;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.modal-title {
  font-size: 22px;
  margin: 10px 0;
  border-bottom: 1px solid rgb(119, 119, 119);
}

.edit-message-input {
  margin: 20px 0;
  flex-grow: 1;
  width: 100%;
}

.buttons-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.edit-message-button,
.edit-message-close {
  padding: 5px 10px;
  width: 80px;
}

.edit-message-button {
  margin-right: 20px;
}