.message-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #7285A5;
  height: calc(100vh - 121px);
}

.message-list {
  display: flex;
  flex-direction: column;
}
